@charset "utf-8";
/* CSS Document */
body{
	background:url(../image/canglaoshi.jpg) repeat;
}
h1{
	color:red;
	font-size:72px;
	text-align:center;
}
a#play{
	display:block;
	text-align:center;
	color:#FF0;
	font-size:72px;
	text-decoration:none;
	padding:200px;
}
nav{
	text-align:center;
}
nav a{
	color:black;
	text-decoration:none;
}
nav a:hover{
	color:white;
}